{# parameters- username: login name, questQue: list of pending questions#}
<html>
  <head>
    <title>Administrator Home Page</title>
    <link href="stylesheets/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
<body>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript"></script>
    <div class="pagetitle">
		<div class="container">
			<h1>Professor Home Page</h1>
		</div>
	</div>
	<div>
		<ul class="navbar">
			<li class="navitem">
				<form action="/" method="GET"> <input class="current navlink" type='submit' value='Home'> </form></li>
			<li class="navitem">
				<form action="/questionqueue" method="GET"> <input class="navlink" type='submit' value='My QuestionQueue'> </form></li>
			<li class="navitem">
				<form action="/FAQADMIN" method="GET"> <input class="navlink" type='submit' value='FAQs'> </form></li>
			<li class="navitem">
				<form action="/registerStudents" method="GET"> <input class="navlink" type='submit' value='Register Students'> </form></li>
			<li class="navitem">
                                <form action="/adminaccountsettings" method="GET"> <input class="navlink" type='submit' value='Account'> </form></li>
			<li class="navitem">
				<form action="/logout" method="GET"> <input class="navlink" type='submit' value='Logout'> </form></li>
		</ul>
	</div>	
	<div class="header">
		<h2>Hello, {{username}}  </h2>
	</div>

	<div class="sectiontitle">
			<h2>Pending Questions</h2>
			<ul>
                <form action="/adminhome" method="POST">
				{% for q in questions %}
                    {% if not q.answer %}
                        <h1 id={{q.question}} style="display:none;" > </h1>
                        <li><a href="/answerquestion"> {{q.question}}   </a></li>

                            <textarea id="txtInput" placeholder="stop breaking por favor"> </textarea>
                            <script>
                                $(#txtInput).autoGrow();
                            </script>
                            <br/>
                            <input type='submit' value='Submit Answer'>

                        </form>
                        <ul>
                            {# TODO: Display user and date created #}
                        </ul>
                        <br/>
                    {% endif %}
				{% endfor %}
			</ul>
	</div>

  	<div class="footer">
		<h6 id="copyright">&copy; University of Wisconsin Milwaukee</h6>
		<h6 id="group">Group Team 804</h6>		
	</div>
  </body>
</html>
