{# parameters- username: login name, questQue: list of pending questions#}
<html>
  <head>
    <title>Administrator Home Page</title>
    <link href="stylesheets/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
<body>
	<div class="pagetitle">
		<div class="container">
			<h1>Professor Home Page</h1>
		</div>
	</div>
		<div class="container">
			<style>
				ul {
					list-style-type: none;
					margin: 0;
					padding: 0;
					overflow: hidden;
					background-color: #333333;
				}

				li {
					float: left;
				}

				li a {
					display: block;
					color: white;
					text-align: center;
					padding: 16px;
					text-decoration: none;
				}

				li a:hover, .current {
					background-color: #FFBD00;
				}
			</style>

			<ul>
				<li><a class = "current" href="">Home</a></li>
				<li><a href="/questionqueue">Question Queue</a></li>
				<li><a href="/FAQADMIN">FAQ Management</a></li>
			</ul>
		</div>
	<div class="header">
		<h2>Hello {{username}}  </h2>
	</div>

	<div class="sectiontitle">
			<h2>Pending Questions</h2>
			<ul>
				{% for i in questQue %}
					{# TODO: add links to each question dialog page? #}
				<li><a href="/QuestionQueue">{{i}}</a></li>
				{% endfor %}
			</ul>
	</div>

  	<div class="footer">
		<div class="button">
			<form action="/" method="get">
				<button type="logout"> Logout </button>
			</form>
		</div>
		<h6 id="copyright">&copy; University of Wisconsin Milwaukee</h6>
		<h6 id="group">Group Team 804</h6>		
	</div>
  </body>
</html>
