<html>
<head>
	<title>Account Settings</title>
	<link href="stylesheets/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
	 <div class="pagetitle">
                <div class="container">
                        <h1>Account Settings</h1>
                </div>
        </div>
	<div>
		<ul class="navbar">
			
<li class="navitem">
<form action="/" method="GET"> <input class="navlink" type='submit' value='Home'> </form></li>
	<li class="navitem">
<form action="/questionqueue" method="GET"> <input class="navlink" type='submit' value='My QuestionQueue'> </form></li>
			
<li class="navitem">
<form action="/FAQADMIN" method="GET"> <input class="navlink" type='submit' value='FAQs'> </form></li>
	<li class="navitem"><form action="/registerStudents" method="GET"> <input class="navlink" type='submit' value='Register Students'> </form></li>
	
<li class="navitem"><form action="/adminaccountsettings" method="GET"> <input class="current navlink" type='submit' value='Account'> </form></li>
			
<li class="navitem">
<form action="/logout" method="GET"> <input class="navlink" type='submit' value='Logout'> </form></li>
			</ul>

	</div>
  	<div class="header">
                <h2>Account Settings</h2>
    </div>
  

        <div class="footer">
                <h6 id="copyright">&copy; University of Wisconsin Milwaukee</h6>
                <h6 id="group">Group Team 804</h6>
        </div>
  </body>
</html>
