{# parameters- username: login name, questQue: list of pending questions#}
<html>
  <head>
    <title>Administrator Home Page</title>
    <link href="stylesheets/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
<body>
	<div class="pagetitle">
		<div class="container">
			<h1>Professor Home Page</h1>
		</div>
	</div>
	<div>
		<ul class="navbar">
			<li class="navitem">
				<form action="/" method="GET"> <input class="current navlink" type='submit' value='Home'> </form></li>
			<li class="navitem">
				<form action="/questionqueue" method="GET"> <input class="navlink" type='submit' value='View QuestionQueue'> </form></li>
			<li class="navitem">
				<form action="/FAQADMIN" method="GET"> <input class="navlink" type='submit' value='FAQs'> </form></li>
			<li class="navitem">
				<form action="/logout" method="GET"> <input class="navlink" type='submit' value='Logout'> </form></li>
		</ul>
	</div>	
	<div class="header">
		<h2>Hello {{username}}  </h2>
	</div>

	<div class="sectiontitle">
			<h2>Pending Questions</h2>
			<ul>
				{% for i in questQue %}
					{# TODO: add links to each question dialog page? #}
				<li><a href="/QuestionQueue">{{i}}</a></li>
				{% endfor %}
			</ul>
	</div>

  	<div class="footer">
		<h6 id="copyright">&copy; University of Wisconsin Milwaukee</h6>
		<h6 id="group">Group Team 804</h6>		
	</div>
  </body>
</html>
