<!DOCTYPE HTML>
<!-- Important classes to play with for css are probably
		header, question, answer
I know there are ways to make the questions collapsable but I'm not not sure if we want that through html or css
-->
<html>
	<head>
		<title>FAQs</title>
		<link href="stylesheets/style.css" rel="stylesheet" type="text/css" />
	</head>
	
	<body>
		
		<div class="pageinfo">
			
			<h1>Frequently Asked Questions</h1>	
				</div>
		
		<div>
			<ul class="navbar">
				
				<li class="navitem"><a class = "navlink" href="">Home</a></li>
				
				<li class="navitem"><a class="navlink" href="/studentQA">Submit A Question</a></li>
				
				<li class="navitem"><a class="current navlink" href="/FAQ">FAQs</a></li>
				
				<li class="navitem"><a class="navlink" href="/">Logout</a></li>
			
			</ul>	
		</div>
		<div class = "faq">
		
		</div>
			<div class="panel-group">
				<div class="header">General Questions:</div>
					<h4 class="question">
						Is this a legitimate FAQ?
					</h4>
					<div class="answer">
						No, this is just a prototype using html.
					</div>
					</br>
					</br>
			</div>
	</body>
</html>

