<!DOCTYPE HTML>
<!-- Important classes to play with for css are probably
		header, question, answer
I know there are ways to make the questions collapsable but I'm not not sure if we want that through html or css
-->
<html>
	<head>
		<title>FAQs</title>
		<link href="stylesheets/style.css" rel="stylesheet" type="text/css" />
	</head>
	
	<body>
		
		<div class="pageinfo">
			
			<h1>Frequently Asked Questions</h1>	
				</div>
		
		<div>
			<ul class="navbar">
				<li class="navitem">
					<form action="/" method="GET"> <input class="current navlink" type='submit' value='Home'> </form></li>
				<li class="navitem">
					<form action="/studentQA" method="GET"> <input class="navlink" type='submit' value='Submit A Question'> </form></li>
				<li class="navitem">
					<form action="/FAQ" method="GET"> <input class="navlink" type='submit' value='FAQs'> </form></li>
				<li class="navitem">
					<form action="/logout" method="GET"> <input class="navlink" type='submit' value='Logout'> </form></li>
			</ul>
		</div>
		<div class = "faq">
			<form action="/FAQADMIN" method="GET">
				{% for q in questions %}
                    {% if q.isFAQ %}
                    <li>
                        {{ q.question }}
                        <ul>
                            {{ q.answer }}
                        </ul>
                    </li>
                    {% endif %}
                {% endfor %}
			</form>
		</div>
	</body>
</html>

