
<!DOCTYPE HTML>
<!-- Important classes to play with for css are probably
		header, question, answer
I know there are ways to make the questions collapsable but I'm not not sure if we want that through html or css
-->
<html>
	<head>
		<title>FAQs</title>
		<link href="stylesheets/style.css" rel="stylesheet" type="text/css" />
	</head>
	
	<body>
		
		<div class="pagetitle">
			
			<h1>Frequently Asked Questions</h1>	
				</div>
		
		<div>
			<ul class="navbar">
				<li class="navitem">
					<form action="/" method="GET"> <input class="navlink" type='submit' value='Home'> </form></li>
				<li class="navitem">
					<form action="/questionqueue" method="GET"> <input class="navlink" type='submit' value='View QuestionQueue'> </form></li>
				<li class="navitem">
					<form action="/FAQADMIN" method="GET"> <input class="current navlink" type='submit' value='FAQs'> </form></li>
				<li class="navitem">
					<form action="/registerStudents" method="GET"> <input class="navlink" type='submit' value='Register Students'> </form></li>
				<li class="navitem">
					<form action="/adminaccountsettings" method="GET"> <input class="navlink" type='submit' value='Account'> </form></li>
				<li class="navitem">
					<form action="/logout" method="GET"> <input class="navlink" type='submit' value='Logout'> </form></li>
			</ul>
		</div>
		<div class = "faq">
				{% for q in questions %}
                    {% if q.isFAQ %}
                    <li>
                        {{ q.question }}
                        <ul>
                            {{ q.answer }}
                        </ul>
                        <form action="/FAQADMIN/E/{{q.get_url_safe_key()}}" method="GET">
                        	<input type='submit' value='Edit'>
						</form>
                        {# TODO: #}
                        {# if Edit #}
                            {# Create new faq submission form #}
                            {# update q with new input #}
                        {# endif #}
						<form action="/FAQADMIN/D/{{q.get_url_safe_key()}}" method="GET">
                        	<input type='submit' value='Delete'>
						</form>
                        {# TODO: #}
                        {# if Delete #}
                            {# q.delete() or q.key.delete() #}
                            {# self.redirect('/FAQADMIN') #}
                        {# endif #}
                    </li>
                    <br>
                    {% endif %}
                {% endfor %}

            <br>
            <form action="/submitfaq" method = "GET">
                <input type='submit' value='Submit New FAQ'>
            </form>
		</div>
	</body>
</html>
