<!DOCTYPE HTML>
<!-- Important classes to play with for css are probably
		header, question, answer
I know there are ways to make the questions collapsable but I'm not not sure if we want that through html or css
-->
<html>
	<head>
		<title>FAQs</title>
		<link href="stylesheets/style.css" rel="stylesheet" type="text/css" />
	</head>
	
	<body>
		
		<div class="pageinfo">
			
			<h1>Frequently Asked Questions</h1>	
				</div>
		
		<div>
			<ul class="navbar">
				<li class="navitem">
					<form action="/" method="GET"> <input class="current navlink" type='submit' value='Home'> </form></li>
				<li class="navitem">
					<form action="/questionqueue" method="GET"> <input class="navlink" type='submit' value='View QuestionQueue'> </form></li>
				<li class="navitem">
					<form action="/FAQADMIN" method="GET"> <input class="navlink" type='submit' value='FAQs'> </form></li>
				<li class="navitem">
					<form action="/logout" method="GET"> <input class="navlink" type='submit' value='Logout'> </form></li>
			</ul>
		</div>
		<div class = "faq">
		
		</div>
			<div class="panel-group">
				<div class="header">General Questions:</div>
					<h4 class="question">
						Is this a legitimate FAQ?
					</h4>
					<div class="answer">
						No, this is just a prototype using html.
					</div>
					<br>
						<button type="button">Edit</button>
						<button type="button">Delete</button>
					</br>
					</br>

					<h4 class="question">
						What is an FAQ?
					</h4>
					<div class="answer">
						Display for frequently asked questions by class
					</div>
					<br>
						<button type="button">Edit</button>
						<button type="button">Delete</button>
					</br>
					</br>
					</br>
					</br>
	
					<button type="button">Add FAQ</button>
			</div>
	</body>
</html>

