
<!DOCTYPE HTML>
<!-- Important classes to play with for css are probably
		header, question, answer
I know there are ways to make the questions collapsable but I'm not not sure if we want that through html or css
-->
<html>
	<head>
		<title>FAQs</title>
		<link href="stylesheets/style.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div class="pagetitle">
			<h1>Frequently Asked Questions</h1>	
		</div>
		<div>
			<ul class="navbar">
				<li class="navitem">
					<form action="/" method="GET"> <input class="navlink" type='submit' value='Home'> </form></li>
				<li class="navitem">
					<form action="/questionqueue" method="GET"> <input class="navlink" type='submit' value='My QuestionQueue'> </form></li>
				<li class="navitem">
					<form action="/FAQADMIN" method="GET"> <input class="current navlink" type='submit' value='FAQs'> </form></li>
				<li class="navitem">
					<form action="/registerStudents" method="GET"> <input class="navlink" type='submit' value='Register Students'> </form></li>
				<li class="navitem">
					<form action="/adminaccountsettings" method="GET"> <input class="navlink" type='submit' value='Account'> </form></li>
				<li class="navitem">
					<form action="/logout" method="GET"> <input class="navlink" type='submit' value='Logout'> </form></li>
			</ul>
		</div>
		<div class="header">
			<h2>View and Edit FAQs!</h2>
		</div>
		<div class = "faq">
			<form action="/submitfaq" method = "GET" style="margin-bottom: 20px; margin-top: -35px;">
				<input class="stdbutton" type='submit' value='Submit New FAQ'>
			</form>
			{% for q in questions %}
				{% if q.isFAQ %}
				   <li class="questionblock" style="margin-left: 40px;">
						<p class="timestamp">Asked on {{ q.date_created }} By: {{q.username}}</p>
						<p style="word-wrap: break-word;">{{ q.question }}</p>
						<p class="timestamp">Answered on {{ q.date_answered }} by {{q.answeredBy}}</p>
						<p style="word-wrap: break-word;">>{{ q.answer }}</p>
				   </li>

					{% if questionBeingEdited and q.question == questionBeingEdited.question %}
						<form action="/FAQADMIN/E/{{q.get_url_safe_key()}}" method="POST">
							<input class="stdbutton" type='submit' value='Save'>
							<textarea id="editFAQ" />
						</form>
					{% endif %}
					<form action="/FAQADMIN/E/{{q.get_url_safe_key()}}" method="GET" style="float: left;">
						<input class = "stdbutton" type='submit' value='Edit'>
					</form>
					<form action="/FAQADMIN/D/{{q.get_url_safe_key()}}" method="GET">
						<input class="stdbutton" type='submit' value='Delete'>
					</form>
					{# TODO: #}
					{# if Delete #}
						{# q.delete() or q.key.delete() #}
						{# self.redirect('/FAQADMIN') #}
					{# endif #}
				<br>
				{% endif %}
			{% endfor %}
		</div>
	</body>
</html>
