<!DOCTYPE HTML>
<html>
	<head>
		<title>PantherTales: Login</title>
		<link href="stylesheets/style.css" rel="stylesheet" type="text/css"/>
	</head>
	<body id="loginbody">
		<div class="pagetitle">
			<div class="container">
				<h1>PantherTales: Q and A Made Easy</h1>
			</div>
		</div>
		<div>
			<ul class="navbar">
				<li class="navitem">
					<form action="/" method="GET"> <input class="current navlink" type='submit' value='Home'> </form></li>
			</ul>
		</div>
		<div class="logintext">
				<form action='/' method='POST'>
					<div class="loginitem"> Username: <input type='text' name='username'/></div>
					<div class="loginitem"> Password: <input type='password' name='password'/></div>
					<div class="loginitem"><input class="protobutton" type='submit' value='Login'/></div>
				</form>
		</div>
		<div>
			<div class="container"
				{% if invalid_info == True %}
					<p id="loginerror"> *Invalid Username or Password* </p>
				{% endif %}
			</div>
		</div>
		<div class="footer">
			<div class="container">
				<h6 id="copyright">&copy; University of Wisconsin Milwaukee</h6>
				<h6 id="group">Group Team 804</h6>
			</div>
		</div>
	</body>
</html>