{# parameters- user: user object and QQTAB: variable containing currently active Queue Tab #}
<html>
	<head>
		<title>Question Queue</title>
		<link href = "stylesheets/style.css" rel = "stylesheet" type = "text/css"/>
	</head>
	<body>
		<div class = "pagetitle">
			<div class = "container">
				<h1>My Question Queue</h1>
			</div>
		</div>
		<div>
			<ul class="navbar">
				<li class="navitem">
					<form action="/" method="GET"> <input class="navlink" type='submit' value='Home'> </form></li>
				<li class="navitem">
					<form action="/questionqueue" method="GET"> <input class="current navlink" type='submit' value='My QuestionQueue'> </form></li>
				<li class="navitem">
					<form action="/FAQADMIN" method="GET"> <input class="navlink" type='submit' value='FAQs'> </form></li>
				<li class="navitem">
					<form action="/registerStudents" method="GET"> <input class="navlink" type='submit' value='Register Students'> </form></li>
				<li class="navitem">
                    <form action="/adminaccountsettings" method="GET"> <input class="navlink" type='submit' value='Account'> </form></li>
				<li class="navitem">
					<form action="/logout" method="GET"> <input class="navlink" type='submit' value='Logout'> </form></li>
			</ul>
		</div>	
		<div class="header">
			<h2>View Your Queue and Answer Questions!</h2>
		</div>
		<div class = "QQDIV">
			<form action='/questionqueue' method='GET'>
				<ul class = 'QBOX'> 
					<li class = 'QITEM'>
						<button class={% if QQTAB == 1 %}'current QBUTTON' {% else %} 'QBUTTON' {% endif %} name="NewQ" value=1 type="submit">Unanswered Questions</button></li>
					<li class = 'QITEM'>
						<button class={% if QQTAB == 2 %}'current QBUTTON' {% else %} 'QBUTTON' {% endif %} name="RecentQ" value=2 type="submit">Recent Questions</button></li>
					<li class = 'QITEM'>
						<button class={% if QQTAB == 3 %}'current QBUTTON' {% else %} 'QBUTTON' {% endif %} name="ByStudent" value=3 type="submit">By Student</button></li>
					<li class = 'QLINK'>
						<input class='QBUTTON' type='submit' name='FAQs' value='FAQs'></li>
				</ul>
			</form>
			{% if QQTAB == 1 %}
			<div>
				<ul class="collapsibleList">
					{% for q in unanswered_questions %}
						<li>
							<label for="{{ q.username }}{{q.date_created}}">Asked on: {{ q.date_created }} Preview: {{ q.question|truncate(8, True) }}...</label>
							<input type="checkbox" id="{{ q.username }}{{q.date_created}}"/>
								<div class="questionblock">
										<div>
											<p class="timestamp">Asked on {{ q.date_created }}</p>
											<p style="word-wrap: break-word;">{{ q.question }}</p>
										</div>
										<div>
											<ul style="list-style: none;" class="collapsiblefields">
												<div style="margine-right: 300;">
													<li>
														<label for="Answer{{ q.username }}{{q.date_created}}">Answer This Question</label>
														<input type="checkbox" id="Answer{{ q.username }}{{q.date_created}}"/>
														<div>
															<form action="/questionqueue" method="POST">
																<textarea id="areastyle" name="answerin" autofocus="autofocus"></textarea>
																<button class="stdbutton" name="Answer" style="margin-right: 8px;" value="{{q.get_url_safe_key}}" type="submit">Submit</button>
															</form>
														</div>
													</li>
													<li>
														<label for="MakeFAQ{{ q.username }}{{q.date_created}}">Make Into FAQ</label>
															<input type="checkbox" id="MakeFAQ{{ q.username }}{{q.date_created}}"/>
																<div>
																	<form action="/questionqueue" method="POST">
																		<h4>Add This Question to FAQs?</h4> 
																			<button class="stdbutton" name="MakeFAQ" style="margin-right: 8px; margin-left: 8px;" value="{{q.get_url_safe_key}}" type="submit">Confirm</button>
																	</form>
																</div>
													</li>
													<li>
														<label for="Delete{{ q.username }}{{q.date_created}}">Delete This Question</label> 
														<input type="checkbox" id="Delete{{ q.username }}{{q.date_created}}"/>
														<div>
															<form action="/questionqueue" method="POST">  
																<h4>Delete This Question From FAQs?</h4> 
																<button class="stdbutton" style="margin-left:8px;" name="Delete" value="{{q.get_url_safe_key}}" type="submit">Confirm</button>
															</form>
														</div>
													</li>
												</div>
											</ul>
										</div>
								</div>
						</li>
					{% endfor %}
				</ul>
			</div>
			{% elif QQTAB == 2 %}
			<div>
				<ul class="collapsibleList">
					{% for q in recent_questions %}
						<li>
							<label for="{{ q.username }}{{q.date_created}}">Asked on: {{ q.date_created }} Preview: {{ q.question|truncate(8, True) }}...</label>
								<input type="checkbox" id="{{ q.username }}{{q.date_created}}"/>
									<div class="questionblock">
										{% if q.answer %}
											<div>
												<p class="timestamp">Asked on {{ q.date_created }}</p>
												<p style="word-wrap: break-word;">{{ q.question }}</p>
												<p class="timestamp">Answered on {{ q.date_answered }}</p>
												<p style="word-wrap: break-word;">{{ q.answer }}</p>
											</div>
											<div>
												<ul style="list-style: none;" class="collapsiblefields">
													<div>
														<li>
															<label for="Answer{{ q.username }}{{q.date_created}}">Answer This Question</label> 
															<input type="checkbox" id="Answer{{ q.username }}{{q.date_created}}"/>
															<div>
																<form action="/questionqueue" method="POST">
																	<textarea id="areastyle" name="answerin" autofocus="autofocus"></textarea>
																	<button class="stdbutton" name="Answer" style="margin-right: 8px;" value="{{q.get_url_safe_key}}" type="submit">Submit</button>
																</form>
															</div>
														</li>
														<li>
															<label for="MakeFAQ{{ q.username }}{{q.date_created}}">Make Into FAQ</label>
															<input type="checkbox" id="MakeFAQ{{ q.username }}{{q.date_created}}"/>
																<div>
																	<form action="/questionqueue" method="POST"> 
																		<h4>Add This Question to FAQs?</h4>
																		<button class="stdbutton" name="MakeFAQ" style="margin-right: 8px; margin-left: 8px;" value="{{q.get_url_safe_key}}" type="submit">Confirm</button>
																	</form>
																</div>
														</li>
														<li>
															<label for="Delete{{ q.username }}{{q.date_created}}">Delete This Question</label>
															<input type="checkbox" id="Delete{{ q.username }}{{q.date_created}}"/>
															<div>
																<form action="/questionqueue" method="POST">  
																	<h4>Delete This Question From FAQs?</h4> 
																	<button class="stdbutton" style="margin-left:8px;" name="Delete" value="{{q.get_url_safe_key}}" type="submit">Confirm</button>
																</form>
															</div>
														</li>
													</div>
												</ul>			
											</div>
										{% else %}
										<div>
											<p class="timestamp">Asked on {{ q.date_created }}</p>
											<p style="word-wrap: break-word;">{{ q.question }}</p>
										</div>
										<div>
											<ul style="list-style: none;" class="collapsiblefields">
												<div>
													<li>
														<label for="Answer{{ q.username }}{{q.date_created}}">Answer This Question</label>
														<input type="checkbox" id="Answer{{ q.username }}{{q.date_created}}"/>
															<div>
																<form action="/questionqueue" method="POST">
																	<textarea id="areastyle" name="answerin" autofocus="autofocus"></textarea>
																	<button class="stdbutton" name="Answer" style="margin-right: 8px;" value="{{q.get_url_safe_key}}" type="submit">Submit</button>
																</form>
															</div>
													</li>
													<li>
														<label for="MakeFAQ{{ q.username }}{{q.date_created}}">Make Into FAQ</label>
														<input type="checkbox" id="MakeFAQ{{ q.username }}{{q.date_created}}"/>
														<div>
															<form action="/questionqueue" method="POST"> 
																<h4>Add This Question to FAQs?</h4>
																	<button class="stdbutton" name="MakeFAQ" style="margin-right: 8px; margin-left: 8px;" value="{{q.get_url_safe_key}}" type="submit">Confirm</button>
															</form>
														</div>
													</li>
													<li>
														<label for="Delete{{ q.username }}{{q.date_created}}">Delete This Question</label> 
														<input type="checkbox" id="Delete{{ q.username }}{{q.date_created}}"/>
														<div>
															<form action="/questionqueue" method="POST">
																<h4>Delete This Question From FAQs?</h4> 
																<button class="stdbutton" style="margin-left:8px;" name="Delete" value="{{q.get_url_safe_key}}" type="submit">Confirm</button>
															</form>
														</div>
													</li>
												</div>
											</ul>
										</div>
										{% endif %}
						</li>
					{% endfor %}
				</ul>
			</div>
			{% else %}
			<div>
				<ul class="collapsibleList">
					{% for s in students %}
						<li>
							<label for="{{ s.last_name }}">{{ s.last_name }}, {{s.first_name}}</label>
							<input type="checkbox" id="{{s.last_name}}"/>
							<ul class="collapsibleList">
								{% for q in s.get_all_questions %}
									<li>
										<label for="{{ q.username }}{{q.date_created}}">Asked on: {{ q.date_created }} Preview: {{ q.question|truncate(8, True) }}...</label>
										<input type="checkbox" id="{{ q.username }}{{q.date_created}}"/>
											<div class="questionblock">
												{% if q.answer %}
													<div>
														<p class="timestamp">Asked on {{ q.date_created }}</p>
														<p style="word-wrap: break-word;">{{ q.question }}</p>
														<p class="timestamp">Answered on {{ q.date_answered }}</p>
														<p style="word-wrap: break-word;">{{ q.answer }}</p>
													</div>
													<div>
														<ul style="list-style: none; display: inline;" class="collapsiblefields">
															<div>
																<li>
																	<label for="Answer{{ q.username }}{{q.date_created}}">Answer This Question</label> 
																	<input type="checkbox" id="Answer{{ q.username }}{{q.date_created}}"/>
																		<div>
																			<form action="/questionqueue" method="POST">
																				<textarea id="areastyle" name="answerin" style="margin-top: 32px;" autofocus="autofocus"></textarea>
																				<button class="stdbutton" name="Answer" style="margin-right: 8px;" value="{{q.get_url_safe_key}}" type="submit">Submit</button>
																			</form>
																		</div>
																</li>
																<li>
																	<label for="MakeFAQ{{ q.username }}{{q.date_created}}">Make Into FAQ</label> 
																	<input type="checkbox" id="MakeFAQ{{ q.username }}{{q.date_created}}"/>
																	<div>
																		<form action="/questionqueue" method="POST">
																			<h4>Add This Question to FAQs?</h4>
																			<button class="stdbutton" name="MakeFAQ" style="margin-right: 8px; margin-left: 8px;" value="{{q.get_url_safe_key}}" type="submit">Confirm</button>
																		</form>
																	</div>
																</li>
																<li>
																	<label for="Delete{{ q.username }}{{q.date_created}}">Delete This Question</label>
																	<input type="checkbox" id="Delete{{ q.username }}{{q.date_created}}"/>
																	<div>
																		<form action="/questionqueue" method="POST"> 
																			<h4>Delete This Question From FAQs?</h4> 
																			<button class="stdbutton" style="margin-left:8px;" name="Delete" value="{{q.get_url_safe_key}}" type="submit">Confirm</button>
																		</form>
																	</div>
																</li>
															</div>
														</ul>
													</div>
											</div>
												{% else %}
												<div>
													<p class="timestamp">Asked on {{ q.date_created }}</p>
													<p style="word-wrap: break-word;">{{ q.question }}</p>
												</div>
												<div>
													<ul style="list-style: none;" class="collapsiblefields">
														<div style="text-align: center;">
															<li>
																<label for="Answer{{ q.username }}{{q.date_created}}">Answer This Question</label>
																<input type="checkbox" id="Answer{{ q.username }}{{q.date_created}}"/>
																<div>
																	<form action="/questionqueue" method="POST">
																		<textarea id="areastyle" name="answerin" autofocus="autofocus"></textarea>
																		<button class="stdbutton" name="Answer" style="margin-right: 8px;" value="{{q.get_url_safe_key}}" type="submit">Submit</button>
																	</form>
																</div>
															</li>
															<li>
																<label for="MakeFAQ{{ q.username }}{{q.date_created}}">Make Into FAQ</label>
																<input type="checkbox" id="MakeFAQ{{ q.username }}{{q.date_created}}"/>
																<div>
																	<form action="/questionqueue" method="POST">
																		<h4>Add This Question to FAQs?</h4> 
																		<button class="stdbutton" name="MakeFAQ" style="margin-right: 8px; margin-left: 8px;" value="{{q.get_url_safe_key}}" type="submit">Confirm</button>
																	</form>
																</div>
															</li>
															<li>
																<label for="Delete{{ q.username }}{{q.date_created}}">Delete This Question</label> 
																<input type="checkbox" id="Delete{{ q.username }}{{q.date_created}}"/>
																<div>
																	<form action="/questionqueue" method="POST">
																		<h4>Delete This Question From FAQs?</h4>
																		<button class="stdbutton" style="margin-left:8px;" name="Delete" value="{{q.get_url_safe_key}}" type="submit">Confirm</button>
																	</form>
																</div>
															</li>
														</div>
													</ul>
												</div>
												{% endif %}
												</div>
									</li>
								{% endfor %}
							</ul>
								
						</li>
					{% endfor %}
				</ul>
			</div>
			{% endif %}
		</div>
		<div class="footer">
			<h6 id="copyright">&copy; University of Wisconsin Milwaukee</h6>
			<h6 id="group">Group Team 804</h6>
		</div>
	</body>
</html>		
