{# parameters- user: user object and QQTAB: variable containing currently active Queue Tab #}
<!DOCTYPE HTML>
<html>
	<head>
		<title>Question Queue</title>
		<link href = "stylesheets/style.css" rel = "stylesheet" type = "text/css"/>
	</head>
	<body>
		<div class = "pagetitle">
			<div class = "container">
				<h1>My Question Queue</h1>
			</div>
		</div>
		<div>
			<ul class="navbar">
				<li class="navitem">
					<form action="/" method="GET"> <input class="navlink" type='submit' value='Home'> </form></li>
				<li class="navitem">
					<form action="/questionqueue" method="GET"> <input class="current navlink" type='submit' value='View QuestionQueue'> </form></li>
				<li class="navitem">
					<form action="/FAQADMIN" method="GET"> <input class="navlink" type='submit' value='FAQs'> </form></li>
				<li class="navitem">
					<form action="/logout" method="GET"> <input class="navlink" type='submit' value='Logout'> </form></li>
			</ul>
		</div>	
		<div class = "QQDIV">
		<ul class = 'QBOX'> 
				<li class = 'current QITEM'>
					<input type='radio' id='NewQ' name='Qradio' value=1 checked><label for="NewQ">New Questions</label></li>
				<li class = 'QITEM'>
					<input type='radio' id='RecentQ' name='Qradio' value=2><label for='RecentQ'>Recent Questions</label></li>
				<li class = 'QITEM'>
					<input type='radio' id='ByStudent' name='Qradio' value=3><label for='ByStudent'>By Student</label></li>
		</ul>
		<div class ='NewDiv'>
		</div>
		<div class ='RecentDiv'>
		</div>
		<div class ='BSDiv'>
		</div>
		</div>
		<div class="footer">
			<h6 id="copyright">&copy; University of Wisconsin Milwaukee</h6>
			<h6 id="group">Group Team 804</h6>
		</div>
	</body>
</html>		
						
						
						
					
				
	
