<html>
  <head>
    <title>Administrator Home Page</title>
    <link href="stylesheets/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
  <div class="pagetitle">
		<div class="container">
			<h1>Register Students Page</h1>
		</div>
	</div>
	<div>
		<ul class="navbar">
			<li class="navitem">
				<form action="/" method="GET"> <input class="navlink" type='submit' value='Home'> </form></li>
			<li class="navitem">
				<form action="/questionqueue" method="GET"> <input class="navlink" type='submit' value='My QuestionQueue'> </form></li>
			<li class="navitem">
				<form action="/FAQADMIN" method="GET"> <input class="navlink" type='submit' value='FAQs'> </form></li>
			<li class="navitem">
				<form action="/registerStudents" method="GET"> <input class="current navlink" type='submit' value='Register Students'> </form></li>
			<li class="navitem">
                                <form action="/adminaccountsettings" method="GET"> <input class="navlink" type='submit' value='Account'> </form></li>
			<li class="navitem">
				<form action="/logout" method="GET"> <input class="navlink" type='submit' value='Logout'> </form></li>
		</ul>
	</div>
	<div class="header">
		<h2>Add New Students or TAs!</h2>
	</div>
	<h4><div id="loginheader">Register new users in this format: Last Name, First Name, Username, User Type (Admin or Student) </div></h4>
	<div class="settings" style="margin-left: 40px;">
		<form action='/registerStudents' method='POST'>
			<div class="submitquestion">
				<textarea id="areastyle" autofocus="autofocus" name="inputText" rows="25" cols="50"></textarea>
			</div>
			<div class="submitquestion">
				<input class="stdbutton" type="submit" value="Register">
			</div>
		</form>
	</div>
  </body>
</html>
