{# parameters- username: name of student logging in, myQuestions:list of questions student asked in session  #}
<html>
  <head>
    <title>Student Home Page</title>
    <link href="stylesheets/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
	<div class="pagetitle">
		<div class="container">
			<h1>Student Home Page</h1>
		</div>
	</div>
	<div>
			<ul class="navbar">
				<li class="navitem">
					<form action="/" method="GET"> <input class="current navlink" type='submit' value='Home'> </form></li>
				<li class="navitem">
					<form action="/studentQA" method="GET"> <input class="navlink" type='submit' value='Submit A Question'> </form></li>
				<li class="navitem">
					<form action="/FAQ" method="GET"> <input class="navlink" type='submit' value='FAQs'> </form></li>
				<li class="navitem">
					<form action="/logout" method="GET"> <input class="navlink" type='submit' value='Logout'> </form></li>
			</ul>
	</div>		
	<div class="header">
		<h2>Hello {{ username }}  </h2>
	</div>
	<div class="sectiontitle">
		<div class="container">
			<h3>My Questions</h3>
			<ul>
				{% for i in myQuestions %}
					{# TODO: add links to each question dialog page? #}
				<li><a href="/studentQA">{{i}}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>


  	<div class="footer">
		<h6 id="copyright">&copy; University of Wisconsin Milwaukee</h6>
		<h6 id="group">Group Team 804</h6>
	</div>
  </body>
</html>
