{# parameters- username: name of student logging in, myQuestions:list of questions student asked in session  #}
<html>
  <head>
    <title>Account Settings</title>
    <link href="stylesheets/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
        <div class="pagetitle">
                <div class="container">
                        <h1>Account Settings</h1>
                </div>
        </div>
        <div>
                        <ul class="navbar">
                                <li class="navitem">
                                        <form action="/" method="GET"> <input class="navlink" type='submit' value='Home'> </form></li>
                                <li class="navitem">
                                        <form action="/submitquestion" method="GET"> <input class="navlink" type='submit' value='Submit A Question'> </form></li>
                                <li class="navitem">
                                        <form action="/FAQ" method="GET"> <input class="navlink" type='submit' value='FAQs'> </form></li>

				<li class="navitem">
                                        <form action="/studentaccountsettings" method="GET"> <input class="current navlink" type='submit' value='Account'> </form></li>

                                <li class="navitem">
                                        <form action="/logout" method="GET"> <input class="navlink" type='submit' value='Logout'> </form></li>
                        </ul>
        </div>
        <div class="header">
                <h2>Account Settings</h2>
        </div>
  

        <div class="footer">
                <h6 id="copyright">&copy; University of Wisconsin Milwaukee</h6>
                <h6 id="group">Group Team 804</h6>
        </div>
  </body>
</html>
