{# parameters- user: first and last name of user logged in, unanswered_questions:list of student's unanswered questions #}
{# answered_questions: list of student's answered questions #}
<html>
	<head>
		<title>Student Home Page</title>
		<link href="stylesheets/style.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div class="pagetitle">
			<div class="container">
				<h1>Student Home Page</h1>
			</div>
		</div>
		<div>
			<ul class="navbar">
				<li class="navitem">
					<form action="/" method="GET"> <input class="current navlink" type='submit' value='Home'> </form></li>
				<li class="navitem">
					<form action="/submitquestion" method="GET"> <input class="navlink" type='submit' value='Submit A Question'> </form></li>
				<li class="navitem">
					<form action="/FAQ" method="GET"> <input class="navlink" type='submit' value='FAQs'> </form></li>
				<li class="navitem">
                                	<form action="/studentaccountsettings" method="GET"> <input class="navlink" type='submit' value='Account'> </form></li>
				<li class="navitem">
					<form action="/logout" method="GET"> <input class="navlink" type='submit' value='Logout'> </form></li>
			</ul>
		</div>
	<div class="header">
		<h2>Hello, {{ user }}!</h2>
	</div>
	<div class="mypendingqs">
			<h3>My Pending Questions</h3>
			<ul class="questionlist">
				{% for q in unanswered_questions %}
					<li class="questionblock"> <p class="timestamp">Asked on {{ q.date_created }}</p> <p style="word-wrap: break-word;">{{ q.question }}</p></li>
				{% endfor %}
			</ul>
	</div>
	<div class="myansweredqs">
			<h3>My Answered Questions</h3>
			<ul class="questionlist">
				{% for q in answered_questions %}
					<li class="questionblock"><p class="timestamp">Asked on {{ q.date_created }}</p> <p style="word-wrap: break-word;">{{ q.question }}</p> <p class="timestamp">Answered on {{ q.date_answered }}</p> <p style="word-wrap: break-word;">>{{ q.answer }}</p></li>
				{% endfor %}
			</ul>
	</div>


  	<div class="footer">
		<h6 id="copyright">&copy; University of Wisconsin Milwaukee</h6>
		<h6 id="group">Group Team 804</h6>
	</div>
  </body>
</html>
