<!DOCTYPE HTML>	
<html>
	<head>
		<title>My Questions</title>
		<link href = "stylesheets/style.css" rel = "stylesheet" type = "text/css"/>
	</head>
	<body>
		<div class = "studentquestionpage">
			<div class = "pagetitle">
				<div class = "container">
					<h1>My Questions</h1>
				</div>
			</div>
		<div>
			<ul class="navbar">
				<li class="navitem"><a class = "current navlink" href="/">Home</a></li>
				<li class="navitem"><a class="navlink" href="/studentQA">Submit A Question</a></li>
				<li class="navitem"><a class="navlink" href="/FAQ">FAQs</a></li>
				<li class="navitem"><a class="navlink" href="/">Logout</a></li>
			</ul>
		</div>	
			<br>
			<br>

			<div class = "answered">
				<div class = "container">
					<h3><u>Answered Questions</u></h3>	
				</div>

				<br>

				<div class = "myansweredquestion">
					<ul>
					<li>Whats 12 x 4?</li>
					<p><b>Answer:</b> 48</p>
					</ul>
				</div>

					<br>

				<div class = "myansweredquestion">
					<ul>
					<li>What state is Milwaukee in?</li>
					<p><b>Answer:</b> Wisconsin</p>
					</ul>
				</div>
			</div>
			
			<br>

			<div class = "pending">
				<div class = "container">
					<h3><u>Pending Questions</u></h3>	
				</div>
				
				<br>
		
				<div class = "pendingquestions">
					<ul>
					<li>What are my grades?</li>
					</ul>
				</div>
			</div>
		
		</div>
	</body>
<html>
