<!DOCTYPE HTML>
<html>
	<head>
		<title>Submit a Question</title>
		<link href="stylesheets/style.css" rel="stylesheet" type="text/css"/>
	</head>
	<body>
		<div class="pagetitle">
			<div class="container">
				<h1>Submit a Question</h1>
			</div>
		</div>
		<div>
			<ul class="navbar">
				<li class="navitem">
					<form action="/" method="GET"> <input class="navlink" type='submit' value='Home'> </form></li>
				<li class="navitem">
					<form action="/submitquestion" method="GET"> <input class="current navlink" type='submit' value='Submit A Question'> </form></li>
				<li class="navitem">
					<form action="/FAQ" method="GET"> <input class="navlink" type='submit' value='FAQs'> </form></li>
				<li class="navitem">
                                	<form action="/studentaccountsettings" method="GET"> <input class="navlink" type='submit' value='Account'> </form></li>
				<li class="navitem">
					<form action="/logout" method="GET"> <input class="navlink" type='submit' value='Logout'> </form></li>
			</ul>
		</div>
	<div class="header">
		<h2>Ask a New Question!</h2>
	</div>
	{% if submitagain == True %}
	<div class="submitquestion">
		<h3>Question Submitted!</h3>
		<form action="/submitquestion" method="GET">
			<input class="stdbutton" type='submit' value='Ask Another?' style="display: inline;"/>
		</form>
		<form action="/" method="GET">
			<input class="stdbutton" type='submit' value='Return Home' style="display: inline;"/>
		</form>
	</div>
	{% else %}
	<h4><div id="loginheader">Enter your question in the space below!</div></h4>
	<div class="settings" style="margin-left: 40px;">
		<form action="/submitquestion" method="POST">
			<div class="submitquestion">
				<textarea id="areastyle" name="questionInput" autofocus="autofocus"></textarea>
			</div>
			<div class="submitquestion">
				<input class="stdbutton" type="submit" value="Submit Question">
			</div>
		</form>
	</div>
	{% endif %}
	{% if emptyfield == True %}
	<h4><div id="loginheader" style="color: red;">ERROR: Field can not be empty!</div></h4>
	{% endif %}
		<div class="footer">
			<h6 id="copyright">&copy; University of Wisconsin Milwaukee</h6>
			<h6 id="group">Group Team 804</h6>
		</div>
	</body>
</html>
