<!DOCTYPE HTML>
<html>
	<head>
		<title>Submit New Question</title>
		<link href="stylesheets/style.css" rel="stylesheet" type="text/css"/>
	</head>
	<body>
		<div class="pagetitle">
			<div class="container">
				<h1>Submit a New Question</h1>
			</div>
		</div>
		<div>
			<ul class="navbar">
				<li class="navitem">
					<form action="/" method="GET"> <input class="navlink" type='submit' value='Home'> </form></li>
				<li class="navitem">
					<form action="/submitquestion" method="GET"> <input class="current navlink" type='submit' value='Submit A Question'> </form></li>
				<li class="navitem">
					<form action="/FAQ" method="GET"> <input class="navlink" type='submit' value='FAQs'> </form></li>
				<li class="navitem">
					<form action="/logout" method="GET"> <input class="navlink" type='submit' value='Logout'> </form></li>
			</ul>
		</div>
		<div class="submittext">
			<div class="container">
				<p>
					<textarea rows="5" cols="50">Ask your question here!
					</textarea>
				</p>
			</div>
		</div>
		<div class="submitbutton">
			<div class="container">
				<button type="button"> Submit Question </button>
			</div>
		</div>
		<div class="footer">
			<div class="container">
				<h6 id="copyright">&copy; University of Wisconsin Milwaukee</h6>
				<h6 id="group">Group Team 804</h6>
			</div>
		</div>
	</body>
</html>
