<!DOCTYPE HTML>
<html>
	<head>
		<title>Submit New FAQ</title>
		<link href="stylesheets/style.css" rel="stylesheet" type="text/css"/>
	</head>
	<body>
		<div class="pagetitle">
			<div class="container">
				<h1>Submit a New Question</h1>
			</div>
		</div>
		<div>
			<ul class="navbar">
				<li class="navitem"><a class = "current navlink" href="/">Home</a></li>
				<li class="navitem"><a class="navlink" href="/studentQA">Submit A Question</a></li>
				<li class="navitem"><a class="navlink" href="/FAQ">FAQs</a></li>
				<li class="navitem"><a class="navlink" href="/">Logout</a></li>
			</ul>
		</div>	
		<div class="submittext">
			<div class="container">
				<p>
					<textarea rows="5" cols="50">Ask your question here!
					</textarea>
				</p>
			</div>
		</div>
		<div class="submitbutton">
			<div class="container">
				<button type="button"> Submit Question </button>
			</div>
		</div>
		<div class="footer">
			<div class="container">
				<h6 id="copyright">&copy; University of Wisconsin Milwaukee</h6>
				<h6 id="group">Group Team 804</h6>
			</div>
		</div>
	</body>
</html>
