html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: Helvetica, Arial, sans-serif;
	min-width: 500px;
}

#loginbody{
	background-image: url("/images/loginbackground.jpg");
	background-repeat: no-repeat;
	background-position: bottom 175px left 75px;
	
}

#loginerror{
	color: #ff0000;
	background-color: #ffffff;
	position: relative;
	font-size: 20px;
	top: 175px;
	left: 575px;
}

#areastyle{
	border-radius: 4px;
	resize: none;
    border: 2px solid #ccc;
    background-color: #edf7f7;
	height: 200px;
	width: 100%;
}

#loginheader{
	text-align: center;
}

.collapsibleList li > input + * {
	display: none;
 }

 .collapsibleList li > input:checked + * {
	display: block;
}

.collapsibleList li > input {
	display: none;
}



.collapsibleList label {
	cursor: pointer;
	display: block;
	white-space: pre-wrap;
	word-break: break-all;
	padding: 16px;
    margin-right: 40px;
	margin-bottom: 8px;
    border: 3px outset;
	background-color: #f8f8f8;
	border-color: #333333;
}
 .collapsiblefields li{
	display: inline;
	text-align: center;
	margin: auto;
 }
 
.collapsiblefields li > input + * {
	display: none;
 }

 .collapsiblefields li > input:checked + * {
	display: block;
}

.collapsiblefields li > input {
	display: none;
}

.collapsiblefields label {
	background-color: #333333;
    border: none;
    color: white;
    padding: 16px
    text-decoration: none;
    font-size: 16px;
	text-align: center;
	margin: 16px;
}

.collapsiblefields label:hover, .current{
	background-color: #FFBD00;
	overflow: 16px;
	cursor: hand;
	cursor: pointer;
}
 
.settings{
	border-radius: 4px;
	display: block;
	padding: 16px;
	padding-top: 0px;
    margin-right: 40px;
	margin-bottom: 8px;
    border: 3px outset;
	background-color: #f8f8f8;
	border-color: #333333;
	text-align: center;
}

.settingfield{
	display: inline-block;
	margin: 0 auto;
	padding: 8px;
}
.submitquestion{
	margin-left: 40px;
	margin-right: 40px;
	margin-bottom: 16px;
	padding: 16px;
	text-align: center;
}

.submitanswer{
	margin-left: 40px;
	margin-right: 40px;
	margin-bottom: 16px;
	padding: 16px;
	text-align: center;
}

.submitanswer textarea{
	border-radius: 4px;
	resize: none;
    border: 2px solid #ccc;
    background-color: #edf7f7;
	height: 200px;
	width: 100%;
	display: none;
}

.stdbutton{
	background-color: #333333;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	margin: 0 auto;
	text-align: center;
	margin: 0 auto;
	margin-top: 32px;
}

.stdbutton:hover, .current{
	background-color: #FFBD00;
	-webkit-transition: background .5s;
	transition: background .5s;
	overflow: 16px;
	cursor: hand;
	cursor: pointer;
}

.questionlist{
	list-style: none;
}

.accountblock{
	display: inline-block;
	padding: 16px;
	margin: 0 auto;
	margin-right: 40px;
    border: 3px outset;
	background-color: #f8f8f8;
	border-color: #333333;
	
	width: 60%; 
}

.questionblock{
	display: block;
	word-break: break-all;
	padding: 16px;
	padding-top: 0px;
    margin-right: 40px;
	margin-bottom: 8px;
    border: 3px outset;
	background-color: #f8f8f8;
	border-color: #333333;
}

.hiddentext label:hover, .current{
	background-color: #FFBD00;
	overflow: 16px;
	cursor: hand;
	cursor: pointer;
}

.hiddentext li > input + * {
	display: none;
 }

 .hiddentext li > input:checked + * {
	display: block;
}

.hiddentext li > input {
	display: none;
}

.hiddentext label {
	cursor: pointer;
	display: block;
	white-space: pre-wrap;
	word-break: break-all;
	padding: 16px;
    margin-right: 40px;
	margin-bottom: 8px;
    border: 3px outset;
	background-color: #f8f8f8;
	border-color: #333333;
}

.timestamp{
	font-size: 12;
	font-weight: bold;
	white-space: none;
}
			
.QQDIV{
	width: 1160px;
	top: 125px;
	position: relative;
    margin: auto;
    border: 2px outset;
	background-color: #f8f8f8;
	}
		
.QBOX{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333333
	}
	
.QITEM{
	float: left;
	margin-right: 0;
	margin-left: 0;
	}
	
.QBUTTON{
	display: block;
	color: white;
	text-align: center;
	padding: 16px;
	text-decoration: none;
	background: #333333;
	border: none;
	margin-right: 0;
	margin-left: 0;
	font-size: 16px;
}

.QLINK{
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
	background: #333333;
	border: none;
	font-size: 16px;
	float: right;
	margin: 0;
}
	
.QBUTTON:hover, .current{
	background-color: #FFBD00;
	-webkit-transition: background .5s;
	transition: background .5s;
	overflow: 16px;
	cursor: hand;
	cursor: pointer;
}	
	
.navbar {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #333333;
		}

.navitem {
		float: left;
		margin: 0;
		}
				
.navlink{
		display: block;
		color: white;
		text-align: center;
		padding: 16px;
		text-decoration: none;
		background: #333333;
		border: none;
		font-size: 16px;
		margin: 0;
		}

		
.navlink:hover, .current {
	background-color: #FFBD00;
	-webkit-transition: background .5s;
	transition: background .5s;
	overflow: 16px;
	cursor: hand;
	cursor: pointer;
}
						
.protobutton:hover, .current{
	background-color: #FFBD00;
	-webkit-transition: background .5s;
	transition: background .5s;
	cursor: pointer;
	cursor: hand;
}

.protobutton{
	position: relative;
	left: 35px;
	margin: auto;
	background-color: #333333;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.loginitem{
	padding: 20px 0;
}

.logintext{
	font-size: 20px;
	display: inline-block;
    width: 175px;
    height: 250px;
    margin: auto;
	padding: 20px 30px;
    border: 2px outset;
	position: relative;
	top: 125px;
	left: 600px;
	background-color: #FFFFFF;
	opacity: 1;
}

.container {
	margin: 0 auto;
	position: relative;
	top: 0px;
	left: 0px;
}

.pagetitle {
	width: 100%;
	background-color: black;
	background-size: cover;
	position: relative;
	top: 0px;
	left: 0px;
	color: #fff;
	padding-top: 1px;
	padding-bottom: 1px;
	margin: 0px;
	overflow: hidden;
}
form{
	margin-bottom: 0em;	
}

.pagetitle h1 {
	display: inline-block;
	padding-left: 10px;
}

.pagetitle img {
	position: relative;
	display: inline-block;
	float: right;

	margin-top: -60px;
	margin-bottom: -60px;
}

.header {
	background-color: #FFBD00;
	background-size: cover;
	margin: 0;
	padding-left: 10px;
	padding-top: 6px;
	padding-bottom: 6px;
	margin-bottom: 10px;
}

.header h2{
	margin: 0;
	
	/*padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;*/
}
.sectiontitle  a {
	text-decoration: none;
	color: #000000;
}

.sectiontitle a:hover {
	text-shadow: 0 1px 1px #111111;
}

.sectiontitle {
	padding-top: 5px;
	padding-left: 10px;
}

.logout form button {
	margin-top: 40px;
	margin-left: 10px;
}

.footer {
	margin: 0;
	margin-top: 175px;
	padding-top: 10px;
	padding-bottom: 10px;
	
}

#copyright {
	float: left;
	margin-left: 10px;
}

#group {

	float: right;
	margin-right: 10px;
}
@media (max-width: 900px) {
	

	.logintext{
		
		left: 100px;
		margin: 0 auto;

	}
}
